<div class="box">




<h1>  <a href="/index">HomePage</a></p> </h1>




<% for transaction in @transactions do %>

        <p> Date : <%= transaction.date_of_transaction %></p>
        <p> Issuer : <%= transaction.issuer %></p>
        <p> Account : <%= transaction.account_id %></p>
        <p> Type : <%= transaction.type %></p>
        <p> Amount : <%= transaction.quantity %></p>
        
<p><a href="/transactions/<%= transaction.id %>">This Transaction</a></p>
    <hr/>
<% end %>
</div>
